.game{
    width:400px;
    height:800px;
    background-color: #F2FAFF;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    top:10px;
    left:10px;
}
.next{
    width:160px;
    height:160px;
    background-color: #F2FAFF;
    position: absolute;
    top:10px;
    left:500px;
    border:1px solid white;
}
.info{
    position:absolute;
    top:200px;
    left:500px;
}
.operate{
    width:900px;
    height:500px;
    background-color: white;
    position: absolute;
    top:1000px;
    left:10px;
    border:1px solid white;
    
}
.left{
    width:400px;
    height:200px;
    background-color:  #F2FAFF;
    position: absolute;
    top:10px;
    left:10px;
    border:1px solid white;
    touch-action: none;
}
.right{
    width:400px;
    height:200px;
    background-color:  #F2FAFF;
    position: absolute;
    top:10px;
    left:420px;
    border:1px solid white;
    touch-action: none;
}
.rotate{
    width:800px;
    height:200px;
    background-color:  #F2FAFF;
    position: absolute;
    top:220px;
    left:15px;
    border:1px solid white;
    touch-action: none;
}
.none,.current,.done{
    width:40px;
    height:40px;
    position:absolute;
    box-sizing:border-box;
}

.none{
    background-color:#F2FAFF;
}
.current{
    background-image: url("1.jpg");
}
.done{
     background-image: url("2.jpg");
}
